<div class="container-fluid">   

    <div class="row my-5" >
        <div class = "col-2"></div>
        <div class="col-8"> 
            {{#with greenhouse_info}}
            <div class="row recent rounded mb-3">
                <div class="row rounded mb-3">
                    <h4 class='text-center   mt-1 mb-3'>Greenhouse Info</h4>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8"> 
                        <img class='plant_measurement_image rounded' src={{GREENHOUSE_PHOTO}}>
                    </div>
                    <div class="col-2"></div>
                </div>
                
                <div class="row text-center">  
                    <div class="col-4 text-center">
                        <p class='greenhouse_id'>Greenhouse : {{ID}}</p>
                        <p class='client_id'>Client : {{CLIENT_ID}}</p>
                        <p class='x_coords'>Coordinates (X) : {{COORDS_X}}</p>
                        
                    </div>
                    <div class="col-4 text-center">
                        <p class='rows'>Rows : {{ROWS}}</p>
                        <p class='columns'>Columns : {{COLUMNS}}</p>
                        <p class='y_coords'>Coordinates (Y) : {{COORDS_Y}}</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class='height'>Height : {{HEIGHT}}</p>
                        <p class='length'>Length : {{LENGTH}}</p>
                        <p class='width'>Width : {{WIDTH}}</p>
                    </div>
                </div>
              {{/with}}
                <div class="row">
                    <div class = "col-1"></div>
                    <div class = "col-10">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                             <th scope="col"></th>
                            {{#each rows_plants.[0]}}
                              <th scope="col">{{@index}}</th>
                            {{/each}}
                          </tr>
                        </thead>
                        <tbody>
                          {{#each rows_plants}}
                              <tr> 
                                  <th scope="row">{{@index}}</th>
                                  {{#each this}}
                                  <td><a href="/plant?ID={{ID}}">{{ID}}</a></td>
                                  {{/each}}
                              </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                    <div class = "col-1"></div>
                </div>
            </div>
        </div>        
    </div>
  {{#with greenhouse_measurement_info}}
    <div class="row my-5" >
        <div class = "col-2"></div>
        <div class="col-8"> 
            <div class="row recent rounded mb-3">
                <dir class="row">
                    <h4 class='text-center mt-1 mb-3'>Last Measurement</h4>
                </dir>
                <div class="row text-center mt-1 mb-3">
                <div class="col-4 text-end">
                    <p class='greenhouse_measurement_id'>ID : {{ID}}</p>
                        <p class='temperature'>Temperature : {{TEMPERATURE}}</p>
                        <p class='humidity'>Humidity : {{HUMIDITY}}</p>
                </div>
                <div class="col-4 text-center">
                        <p class='measurement_date'>Date : {{MEASUREMENT_DATE}}</p>
                        <p class='measurement_time'>Time : {{MEASUREMENT_TIME}}</p>
                    </div>
                        <div class="col-4 text-start">
                        <p class='sunlight'>Sunlight : {{SUNLIGHT}}</p>
                        <p class='co2'>CO2 : {{CO2}}</p>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</div>