<link rel="stylesheet" type="text/css" href="./history_style.css" />

  <div class="container-fluid">    
    <p class="info_paragraph text-center my-5" id="info_paragraph">{{information}}</p>
    <div class="row">
        <div class = "col-3"></div>
        <div class="col-6"> 
            {{#each search_results}}
            <div class="row recent rounded mb-3">
              <div class="col-3"> 
                <img class='image_recent rounded img-fluid' src={{image_path}}>
              </div>
              <div class="col-9"> 
                <h4 class='text-center mt-1 mb-3'> <a href="/failure?failure_id={{id}}">{{title}}</a></h4>

                <p class='location'>Κτίριο: {{building}}</p>
                <p class='status'>Κατάσταση: {{state}}</p>
                <p class='creation_date'>Δημιουργία: {{creation_date}}</p>
              </div>
            </div>
          {{/each}}  
      </div>
  </div>