  <link rel="stylesheet" type="text/css" href="./style.css" />
  
  
  <div class="container-fluid">    

    <div class="row">
      
      <div class="col-3"> 
        <div class="col-11" style="margin-left: 10%"> 
          <h2 class="fs-3 text-center my-4">Greenhouse Recents</h2>
            {{#each greenhouse_recents}}
            <div class="row recent rounded mb-3">
              <div class="col-6"> 
                <img class='image_recent rounded img-fluid' src={{GREENHOUSE_PHOTO}}>
              </div>
              <div class="col-6 text-center"> 
                <h5 class='text-center mt-1 mb-3'> <a href="/greenhouse?ID={{GREENHOUSE_ID}}"> Greenhouse {{GREENHOUSE_ID}}</a></h4>
                <p class='greenhouse_id'>Measurement ID : {{ID}}</p>
                <p class='tempreature'>Tempreature : {{TEMPERATURE}}</p>
                <p class='humidity'>Humidity : {{HUMIDITY}}</p>
                <p class='measurement_date'>Date : {{MEASUREMENT_DATE}}</p>
                <p class='measurement_time'>Time : {{MEASUREMENT_TIME}}</p>
              </div>
            </div>
            {{/each}}
        </div>
      </div>

      <div class="col-6"> 
          <h2 class = "fs-3 text-center mt-4">  Facilities </h2>
        <div class="d-flex justify-content-center mt-3 mb-3">
          <img class='facility_map rounded img-fluid text-center' src="images/farmland.jpg"></img>
        </div>
      </div>

      <div class="col-3"> 
        <div class="col-11" style="margin-right: 10%"> 
          <h2 class="fs-3 text-center my-4">Plant Recents</h2>
            {{#each plant_recents}}
            <div class="row recent rounded mb-3">
              <div class="col-6 text-center"> 
                <h5 class='text-center mt-1 mb-3'> <a href="/plant?ID={{P_ID}}"> Plant {{P_ID}}</a></h4>
                <p class='greenhouse_id'>Greenhouse : {{GREENHOUSE_ID}}</p>
                <p class='type'>Type : {{TYPE}}</p>
                <p class='health'>Health : {{HEALTH}}</p>
                <p class='measurement_date'>Date : {{MEASUREMENT_DATE}}</p>
                <p class='measurement_time'>Time : {{MEASUREMENT_TIME}}</p>
              </div>
              <div class="col-6"> 
                <img class='image_recent rounded img-fluid text-center' src={{MEASUREMENT_PHOTO}}>
              </div>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
      </div>
  </div>
