  <link rel="stylesheet" type="text/css" href="./style.css" />

    <div class="container-fluid">

        <h1 class = 'd-flex justify-content-center my-4'><strong> Αναφορά νέας βλάβης </strong></h1>

        <div class="row">
            <div class = 'col-12 d-flex justify-content-center my-3'>
                <img id='load_it' class='load_it' style='display:none' src="images/map_screenshot.png"></img>
                <canvas class = 'rounded' id="myCanvas" width="1100" height="600"></canvas>
                <script src="scripts/draw_map_and_get_coordinates.js"></script>
            </div>
        </div>

    <div class="row">
        <div class="col-2 my-3"></div>

        <div class="col-8 my-3">
            <form method="POST" action="/report_complete" enctype="multipart/form-data">
            {{#with error}}
                <p class="fst-italic">{{message}}</p>
                <p class="fst-italic">{{e_type}}</p>
            {{/with}}

                <h3 class="my-1">Τοποθεσία</h3>
                <div class="row">
                    <em class="mb-1"> Εισάγετε την ακριβή τοποθεσία της βλάβης κάνοντας click στον παραπάνω χάρτη.</em>
                    <div class="col-6 my-2" hidden>
                        <label for="coords"> Δυτικά </label>
                        <input type="text" class="form-control" size="30"  id="West" name="West" placeholder="" required>
                    </div>
                    <div class="col-6 my-2" hidden>
                        <label for="coords"> Βόρεια </label>
                        <input type="text" class="form-control" size="30"  id="North" name="North" placeholder="" required>
                    </div>

                    <div class="col-12 my-2">
                        <select class="form-control" id = "building" name="building" required>
                            {{#each buildings}}
                                <option value="{{{name}}}"> {{name}} </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <h3 class="my-2"> Κατηγορία </h3>
                    <div class="row">
                        <div class="col-12 my-2">
                        <select class="form-control" id = "category" name="category" required>
                            {{#each categories }}
                                <option value={{name}}> {{name}} </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <h3 class="my-2"> Στοιχεία επικοινωνίας </h3>
                    <div class="row">
                        <div class="col-6 my-2">
                            <legend for="phone"> Τηλέφωνο </legend>
                            <input class="form-control" type="tel" size="30" id="phone" name="phone" placeholder="" required>
                        </div>
                        <div class="col-6 my-2">
                            <legend for="email"> E-mail </legend>
                            <input  class="form-control" type="email" size="30" id="email" name="email" placeholder="Δώσε το email σου εάν θες να ενημερώνεσαι για την εξέλιξη της αναφοράς σου.">
                        </div>
                    </div>

                <h3 class="my-2"> Λεπτομέρειες αναφοράς </h3>
                    <div class="row my-2">
                        <legend for="title"> Τίτλος </legend>
                        <input class="form-control" type="text" size="30"  id="title" name="title" placeholder="" required>
                    </div>
                    <div class="row my-2">
                        <legend for="description"> Περιγραφή </legend>
                        <textarea rows="10" class="form-control" type="text" size="200" id="description" name="description" placeholder="" required></textarea>
                    </div>
                
                <div class="row my-4">
                    <div class="col-11">
                        <legend>Select Image File</legend>
                        <input type="file" name="image" required>
                    </div>

                    <div class="col-1 mt-4">
                        <button type="submit" class="btn btn-primary"> Υποβολή </button>
                    </div>
                </div>           
            </form>
        </div>

        <div class="col-2 my-3"></div>

    </div>



